
@model JobOpenings.ViewModels.LoginModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>


    <body class="text-center" data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">

        <main class="form-signin">
           
               
                <form asp-action="Login" asp-controller="Account" asp-antiforgery="true" class="form-signin">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <div class="form-group">
                            <label asp-for="Email">Email address</label>
                            <input type="text" asp-for="Email" placeholder="Email address">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input type="text" asp-for="Password" placeholder="Password" />
                            <span asp-validation-for="Password" />

                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </div>
                    </div>
                </form>
                </main>
                   
    </body>
</html>